:root {
    --main-primary-color: white;
    --main-secondary-color: orange;
    --main-primary-bg-color: rgb(61, 71, 92);
    --main-secondary-bg-color: rgb(0, 51, 153);
    --main-teriatary-bg-color: rgba(255, 255, 255, 0.3);
}

* {
    font-family: 'Roboto', sans-serif;
}

body,
main {
    background-color: var(--main-primary-bg-color);
    margin: 0;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    height: 6em;
    padding: 1em 0px;
    width: 100%;
    color: var(--main-primary-color);
    background-color: var(--main-secondary-bg-color);
    border-bottom: 3px solid var(--main-secondary-color);
}

h4,
.fa,
.fab,
.contact-bar-item,
a {
    color: var(--main-primary-color);
    padding: 1em;
    display: inline;
    text-decoration: none;
    font-weight: lighter;
}

.contact-bar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    vertical-align: middle;
    margin-top: 8em;
    width: 100%;
    height: fit-content;
    background-color: var(--main-teriatary-bg-color);
}

.main-container-grid {
    margin-top: 20em;
    width: 80%;
    display: grid;
    justify-content: center;
    justify-items: normal;
    height: min-content;
    grid-template-columns: 1fr auto;
}

.main-container-items {
    background-color: var(--main-teriatary-bg-color);
    border-left: 2px solid var(--main-secondary-color);
}