.wrapper-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: "header header header" "sidebar content-1 content-1" "sidebar content-2 content-3" "footer footer footer";
    grid-gap: 1em;
}

.grid-item {
    background-color: black;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content-1 {
    grid-area: content-1;
}

.content-2 {
    grid-area: content-2;
}

.content-3 {
    grid-area: content-3;
}

.footer {
    grid-area: footer;
    grid-row: 4/5;
    grid-column: 1/4;
}

.grid-item {
    border: 1px solid black;
}

.img {
    background-size: contain;
}

.color1 {
    background-color: indigo;
}

.color2 {
    background-color: cyan;
}

.color2:hover,
.color2:active {
    background-image: url('https://i.pinimg.com/originals/74/8f/66/748f660107d3aa202c91acccfdedec0b.jpg');
}

.color3 {
    background-color: blue;
}

.color3:hover,
.color:active {
    background-image: url('https://beneathmyshoes.files.wordpress.com/2015/03/ba9.jpg');
}

.color4 {
    background-color: indigo;
}

.color4:hover {
    background-image: url('https://i.pinimg.com/originals/2f/e8/f1/2fe8f166399d7b05fbc6cd87e433f49c.jpg');
}

.color4:focus {
    background-image: url('https://i.pinimg.com/originals/2f/e8/f1/2fe8f166399d7b05fbc6cd87e433f49c.jpg');
}

.color5 {
    background-color: yellow;
}

.color5:hover,
.color5:active {
    background-image: url('https://farm4.static.flickr.com/3781/9496158405_efb564aeac_m.jpg');
}

*/