.pattern-wrapper {
    margin: 0 auto;
    width: 616px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1em);
    grid-gap: 0.2em;
}

.grid-item {
    width: 1em;
    height: 1em;
}

.color1 {
    background-color: gainsboro;
}

.color2 {
    background-color: darkgray;
}

.color3 {
    background-color: gray;
}

.color4 {
    background-color: black;
}