.pattern-wrapper {
    margin: 0 auto;
    width: 616px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1em);
    grid-gap: 0em;
}

.grid-item {
    width: 1em;
    height: 1em;
}

.color1 {
    background-color: white;
}

.color2 {
    background-color: rgba(178, 34, 34, 0.507);
}